@import '_bower';

body {
  padding-top: 50px;
}

.chat-frame {
	background-color: #f5f5f5;
	border-right: 1px solid #eee;
	bottom: 0;
	display: block;
	left: 0;
	overflow-x: hidden;
	overflow-y: hidden;
	padding: 20px;
	position: fixed;
	top: 51px;
	z-index: 1000;


	ul.chat-output {

		list-style-type: none;
		padding-left:0;
		margin-top:20px;

		li {
			strong {

			}
		}
	}

	form.chat-form {

	}
}

.main-frame {
	#raphael-game-board {
		width: 1370px;
		height: 2274px;
		background-repeat: no-repeat;
		svg {
			background-color:#000000;
		}
	}
}